<html>
<head>
</head>
<body>

<h1>welcome {{username}}</h1>

<a href="/my_profile">My Profile</a>
<br>
<br>

<a href="/my_reviews">My Reviews</a>
<br>
<br>

<a href="/select_criteria_loggedin">Search A Song</a>
<br>
<br>

<a href="/new_reviews">New Reviews</a>
<br>
<br>
<a href="/new_songs">New Songs</a>
<br>
<br>

<a href="/show_songs_to_review">Write A Review</a>
<br>
<br>
<a href="/show_songs_to_rate">Rate A Song</a>
<br>
<br>
<a href="/incoming_requests">New Friends</a>
<br>
<br>

<a href="/show_users">Send Friend Request</a>
<br>
<br>

<a href="/show_users_to_follow">Follow Others</a>
<br>
<br>

<a href="/show_artists_to_fan">Fan An Artist</a>
<br>
<br>

<a href="/logout">Logout</a>
<br>

</body>


</html>
