<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>


<table>
    <th>Username</th>
	<th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>

{% for line in profiles %}
	<tr>
		<td>{{line.username}}</td>
		<td>{{line.fname}}</td>
        <td>{{line.lname}}</td>
        <td>{{line.nickname}}</td>
	</tr>
{% endfor %}
</table>

<br>
<br>



<br>
<br>
<br>
<a href="/home">Home</a>
<br>
<br>

<a href="/logout">Logout</a>

<br>
<br>


</body>


</html>